<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ 'sonata-extra.block_contact.admin-notification.title'|trans({}, 'PartitechSonataExtraBundle') }}</title>
</head>
<body>
<h1>{{ 'sonata-extra.block_contact.admin-notification.heading'|trans({}, 'PartitechSonataExtraBundle') }}</h1>
<p>{{ 'sonata-extra.block_contact.admin-notification.introduction'|trans({}, 'PartitechSonataExtraBundle') }}</p>
<ul>
    {% if formData.firstName is defined and formData.firstName %}
        <li>{{ 'sonata-extra.block_contact.confirmation.firstName'|trans({}, 'PartitechSonataExtraBundle') }} : {{ formData.firstName }}</li>
    {% endif %}
    {% if formData.lastName is defined and formData.lastName %}
        <li>{{ 'sonata-extra.block_contact.confirmation.lastName'|trans({}, 'PartitechSonataExtraBundle') }} : {{ formData.lastName }}</li>
    {% endif %}
    {% if formData.email is defined and formData.email %}
        <li>{{ 'sonata-extra.block_contact.confirmation.email'|trans({}, 'PartitechSonataExtraBundle') }} : {{ formData.email }}</li>
    {% endif %}
    {% if formData.phone is defined and formData.phone %}
        <li>{{ 'sonata-extra.block_contact.confirmation.phone'|trans({}, 'PartitechSonataExtraBundle') }} : {{ formData.phone }}</li>
    {% endif %}
    {% if formData.additionalInformation is defined and formData.additionalInformation %}
        <li>{{ 'sonata-extra.block_contact.confirmation.message'|trans({}, 'PartitechSonataExtraBundle') }} : {{ formData.additionalInformation }}</li>
    {% endif %}
</ul>
<p>{{ 'sonata-extra.block_contact.admin-notification.procedure'|trans({}, 'PartitechSonataExtraBundle') }}</p>
<p>{{ 'sonata-extra.block_contact.confirmation.regards'|trans({}, 'PartitechSonataExtraBundle') }}<br>{% if settings.mailSignature is defined %}{{ settings.mailSignature }}{% endif %}</p>
</body>
</html>