{% set sites = admin.siteList %}
{% set currentSite = admin.currentSite %}
{% set currentSelectedLocalId = admin.currentSelectedLocal %}
{% set request_site = app.request.query.get('site') %}
{% if object is defined %}
    {% set currentSite =  object.site %}
{% endif %}

{# {% set action = admin.action %} #}
<div class="box-header" style="padding-left:0;">
    <h1 class="box-title sonata-page-top-bar">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="true">
                <strong class="text-info" style="margin-right:10px">

                    {%- if sites and sites|length > 0 -%}
                        {% if currentSite %}
                            <i class="fi {{ 'fi-' ~ currentSite.localShort }} fis m-2" style="margin-right:10px"></i>
                            {{ currentSite.name }}
                        {% else %}
                            {{ 'pages.label_no_site_selected'|trans({}, 'SonataPageBundle') }}
                        {% endif %}
                    {%- else -%}
                        {{ 'pages.label_no_sites'|trans({}, 'SonataPageBundle') }}
                    {%- endif -%}
                </strong> <span class="caret"></span>


            </button>
            <ul class="dropdown-menu" role="menu">
                {% for site in sites %}
                    {% if currentSite and site.id != currentSite.id %}
                        <li>
                            <a href="{{ admin.generateUrl('list', { 'site': site.id }) }}">
                                <i class="fi {{ 'fi-' ~ site.localShort }} fis m-2" style="margin-right:10px"></i>
                                {{ site.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </h1>
</div>

<style>
    .content-header .navbar-collapse {
        padding: 0 !important;
    }

</style>

