{% extends get_global_template('show') %}


{%- block tab_menu -%}

    {% if action is defined %}
        {{ knp_menu_render(admin.sidemenu(action), {
            'currentClass': 'active',
            'template': '@PartitechSonataExtra/Admin/article/tab_menu_template.html.twig'
        }, 'twig') }}
    {% endif %}

{%- endblock -%}

{% block sonata_page_content_header %}
    {%  set template_list=admin.getTemplateRegistry().templates %}
    {% if template_list.show_prepend_page_content_header_template is defined %}
        {% include template_list.show_prepend_page_content_header_template with {'admin': admin} %}
    {% endif %}

    {{ parent() }}

    {% if template_list.show_append_page_content_header_template is defined %}
        {% include template_list.show_append_page_content_header_template with {'admin': admin} %}
    {% endif %}

{% endblock %}


{% block show_groups %}

    <div class="row">
        {% block field_row %}
            {% for code in groups %}
                {% set show_group = admin.showgroups[code] %}
 {# start implementation #}
                {# configure show_header true|false #}
                {% if show_group.show_header is defined %}
                    {% if show_group.show_header == true %}
                        {% set show_header=true %}
                    {% else %}
                        {% set show_header=false %}
                    {% endif %}
                {% else %}
                    {% set show_header=true %}
                {% endif %}

                {# configure show_header_border true|false #}
                {% if show_group.show_header_border is defined %}
                    {% if show_group.show_header_border == true %}
                        {% set show_header_border=true %}
                    {% else %}
                        {% set show_header_border=false %}
                    {% endif %}
                {% else %}
                    {% set show_header_border=true %}
                {% endif %}
{# end implementation #}


                <div class="{{ show_group.class|default('col-md-12') }} {{ no_padding|default(false) ? 'nopadding' }}">
{# start implementation #}
                    <div class="{{ show_group.box_class }}" {% if show_header == false %} style="border-top: 0px"{% endif %}>

                        {% if show_header == true %}

                            <div class="box-header">
                                <h4 class="box-title">
                                    {% block show_title %}
                                        {% if show_group.translation_domain is defined and show_group.translation_domain is same as(false) %}
                                            {{ show_group.label }}
                                        {% else %}
                                            {{ show_group.label|trans({}, show_group.translation_domain ?? admin.translationDomain) }}
                                        {% endif %}
                                    {% endblock %}
                                </h4>

                                <div class="box-tools">
                                    {% if show_group.header_btn is defined %}

                                        {% for btn in show_group.header_btn %}
                                            <a
                                                    href="{% if btn.url is defined %}{{ btn.url }}{% endif %}"
                                                    class="btn {% if btn.class is defined %}{{ btn.class }}{% else %}btn-primary{% endif %}"
                                                    {% if btn.target is defined %}target="{{ btn.target }}"{% endif %}
                                            >
                                                {% if btn.icon is defined %}
                                                    <i class="fa {{ btn.icon }}"></i>
                                                {% endif %}
                                                {% if btn.label is defined %}
                                                    {{ btn.label|trans({}, show_group.translation_domain ?? admin.translationDomain) }}
                                                {% endif %}
                                            </a>
                                        {% endfor %}
                                    {% endif %}


                                    {% if show_group.search_list is defined %}
                                        {% set search_id='id_' ~ random() %}
                                    <div class="input-group input-group-sm hidden-xs box-tools" style="width: 200px; float:right;margin-left: 2px;">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn {% if show_group.search_list.class is defined %}{{ show_group.search_list.class }}{% else %}btn-default{% endif %} dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="height: 33px;">
                                                {% if show_group.search_list.icon is defined %}
                                                    <i class="fa {{ show_group.search_list.icon }}"></i>
                                                {% endif %}
                                                {% if show_group.search_list.label is defined %}{{ show_group.search_list.label|trans({}, show_group.translation_domain ?? admin.translationDomain) }}{% endif %}
                                                <span class="fa fa-caret-down"></span></button>
                                            <ul class="dropdown-menu">
                                                {% for btn in show_group.search_list.list %}
                                                    {% if btn.class is defined and btn.class=='divider' %}
                                                        <li class="divider"></li>
                                                    {% else %}
                                                        <li>
                                                            <a {% if btn.url is defined %}href="{{ btn.url }}" onclick="event.preventDefault(); if(document.getElementById('{{ search_id }}').value.length==0){return void(0);}window.location.href = this.href +document.getElementById('{{ search_id }}').value;"{% endif %} >
                                                        {% if btn.label is defined %}{{ btn.label|trans({}, show_group.translation_domain ?? admin.translationDomain) }}{% endif %}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                            </ul>
                                        </div>

                                        <input id="{{ search_id }}" type="text" class="form-control {{ search_id }}" style="height: 34px;">
                                    </div>
                                    {% endif %}
                                </div>



                            </div>
                    {% endif %}
{# end implementation #}
                        <div class="box-body table-responsive no-padding">
                            <table class="table">
                                <tbody>
                                {% for show_field_name in show_group.fields %}
                                    {% block show_field %}
                                        <tr class="sonata-ba-view-container">
                                            {% if elements[show_field_name] is defined %}
                                                {{ elements[show_field_name]|render_view_element(object) }}
                                            {% endif %}
                                        </tr>
                                    {% endblock %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endblock %}

    </div>
{% endblock %}